#score,#money,#moneyPerClick{
    font-size: 100px;
}

#button {
    width: 200px;
    height: 200px;
    background-image: url('Images/Button.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: background-image 0.15s;
}

@keyframes button-press {
    0% {
        background-image: url('Images/Button.svg');
    }
    20% {
        background-image: url('Images/Button1.svg');
    }
    40% {
        background-image: url('Images/Button2.svg');
    }
    60% {
        background-image: url('Images/Button3.svg');
    }
    80% {
        background-image: url('Images/Button2.svg');
    }
    100% {
        background-image: url('Images/Button1.svg');
    }
}

#button.animate {
    animation: button-press 0.15s; 
}
