body{
    width: 1000px;
    height: 550px;
    overflow: hidden;
    resize: none;
}

#score {
    position: absolute;
    top: 0%; /* adjust the value to position them as desired */
    left: 50%; /* adjust the value to position them as desired */
    transform: translate(-50%, -100%); /* center them horizontally and vertically */
    font-size: 50px;
    z-index: 1; /* make sure they're on top of the button */
}

#moneyPerClick {
    top: 0%; /* adjust the value to position them as desired */
    left: 50%; /* adjust the value to position them as desired */
    position: absolute;
    font-size: 50px;
    transform: translate(-50%, -30%); /* center them horizontally and vertically */

}
#money {
    top: 0%; /* adjust the value to position them as desired */
    left: 50%; /* adjust the value to position them as desired */
    position: absolute;
    font-size: 50px;
    transform: translate(-50%, 50%); /* center them horizontally and vertically */

}

#upgrade {
    top: 55%; /* adjust the value to position them as desired */
    left: 39%; /* adjust the value to position them as desired */
    position: absolute;
}

#add_cursor {
    top: 65%; /* adjust the value to position them as desired */
    left: 80%; /* adjust the value to position them as desired */
    position: absolute;
}

#button {
    width: 87px;
    height: 105px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: 0;
    padding: 0%;
    background-image: url('Images/Button.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: background-image 0.15s;
    z-index: 2;
}

@keyframes button-press {
    0% {
        background-image: url('Images/Button.svg');
    }
    20% {
        background-image: url('Images/Button1.svg');
    }
    40% {
        background-image: url('Images/Button2.svg');
    }
    60% {
        background-image: url('Images/Button3.svg');
    }
    80% {
        background-image: url('Images/Button2.svg');
    }
    100% {
        background-image: url('Images/Button1.svg');
    }
}

#button.animate {
    animation: button-press 0.15s; 
}

#button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* optional, to center horizontally */
    height: 100vh; /* optional, to center vertically */
  }


.cursor {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
@keyframes rotate-cursor {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

#button_div svg {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

#cursor_div{
    display: flex;
  }
  