.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    grid-row-gap: 0px;
    grid-column-gap: 10px; 
    background-color: aqua;
    margin: 0px;
    padding: 0px;
  }
body, html {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.settings, .progress_bar, .income {
    grid-column: span 1;
    grid-row: 1;
    height: calc(1/6 * 100vh);
}   
.settings {
    background-color: bisque;
}
.progress_bar {
    background-color: blanchedalmond;
}

.income {
    background-color: burlywood;
    margin-bottom: 10px;
}
  
.playing_area {
    grid-column: 1 / 3;
    grid-row: 2;
    width: calc(2 / 3 * 100vw);
    height: calc(5/6 * 100vh);
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
.upgrades {
    grid-column: 3;
    grid-row: 2;
    width: calc(1 / 3 * 100vw);
    height: calc(5/6 * 100vh);
    background-color: beige;
    background-image: url('Images/Upgrades.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
    display: grid;
    grid-template-columns: 6fr;
    grid-row-gap: 10px;
  }

#Big_button{
    height: min(10.5vw, 15vh); 
    width: min(8.7vw, 12vh); 
    border: none;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: url('Images/Button.svg');
    background-size: 100% 100%;
    padding: 0%;
  }

  .cursor {
    height: min(30vw, 40vh); 
    width: min(30vw, 40vh);
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    border: 1px solid black;
  }

  .increase_income{
    background-image: url('Images/Upgrade_increase_income.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .add_cursor{
    background-image: url('Images/Upgrade_add_cursor.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .merge_cursors{
    background-image: url('Images/Upgrade_merge_cursors.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .cursor_income{
    background-image: url('Images/Upgrade_cursor_income.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .cursor_speed{
    background-image: url('Images/Upgrade_cursor_speed.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .upgrade_button{
    background-image: url('Images/Upgrade_button.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }