@font-face {                                                                      /* font for the game */
  font-family: "Merge W00 Bold";
  src: url("https://db.onlinewebfonts.com/t/4164b679e1a0c55266914de874ffd38f.eot");
  src: url("https://db.onlinewebfonts.com/t/4164b679e1a0c55266914de874ffd38f.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4164b679e1a0c55266914de874ffd38f.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/4164b679e1a0c55266914de874ffd38f.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/4164b679e1a0c55266914de874ffd38f.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/4164b679e1a0c55266914de874ffd38f.svg#Merge W00 Bold")format("svg");
}

#money {                                                                          /* money display, white with a blue border */     
  font-size: 3.5vw;
  color: #fff;
  -webkit-text-stroke: 0.2vw rgb(16, 16, 95);
  margin-left: 17vW;
  margin-top: 5vh;
}
 #moneyPerClick, #moneyPerSecond {                                                /* money per click and money per second display, white with a blue border */
  font-size: 2vw;
  color: #fff;
  -webkit-text-stroke: 0.1vw rgb(16, 16, 95);
  margin-left: 17vW;

}

#level{                                                                           /* level display, white with a blue border */
  font-size: 3vw;
  color: #fff;
  -webkit-text-stroke: 0.1vw rgb(16, 16, 95);

}

.wrapper {                                                                        /* wrapper for the game, divide the page in a grid */
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
  grid-row-gap: 0px;
  grid-column-gap: 10px; 
  margin: 0px;
  padding: 0px;
  background-image: url(../assets/images/background1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

body, html {                                                                        /* body and html style */
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Merge W00 Bold";
}

.settings, .progress_bar, .income {                                                 /* settings, progress bar and income display */
  grid-row: 1;
  height: calc(1/6 * 100vh);
}

.settings {                                                                         /* settings div display */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.progress_bar {                                                                     /* progress bar div display */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-bar-ui {                                                                  /* progress bar UI style */        
  width: 90%;
  height: 30%;
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.background-bar-wrapper {                                                           /* background bar UI wrapper style */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bar-wrapper {                                                                      /* bar wrapper style */
  position: relative;
  width: 100%;
  height: 100%;
}

.backgroundBar {
  width: 100%;
  height: 100%;
  background-color: #B0F5FA;
  transition: width 0.15s ease;
  z-index: -1;                                                                            /* move the backgroundBar behind the bar */
}

.bar {                                                                              /* bar style */
  width: 0%;
  height: 100%;
  transition: width 0.15s ease;
}

.level {                                                                          /* level display style */         
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.income {
    margin-bottom: 10px;
}
  
.playing_area {                                                                   /* playing area style */
  grid-column: 1 / 3;
  grid-row: 2;
  width: calc(2 / 3 * 100vw);
  height: calc(5/6 * 100vh);
  display: grid;
  justify-content: center;
  align-items: center;
}
  
.upgrades {                                                                     /* upgrades/shop area style */
  grid-column: 3;
  grid-row: 2;
  width: calc(1 / 3 * 100vw);
  height: calc(5/6 * 100vh);
  background-repeat: no-repeat;
  background-size: auto auto;
  display: grid;
  grid-template-columns: 5fr;
  grid-row-gap: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Big_button{                                                                    /* big button style */
  height: min(10.5vw, 15vh); 
  width: min(8.7vw, 12vh); 
  border: none;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: url('../assets/images/Button.svg');
  background-size: 100% 100%;
  padding: 0%;
  transition: background-image 0.15s;
}

.cursor {                                                                         /* cursor style */
  height: min(40vw, 50vh); 
  width: min(40vw, 50vh);
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: transparent; 
}

.increase_income{                                                                 /* increase income button style */
  background-image: url('../assets/images/Upgrade_increase_income.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s;
}

.add_cursor{                                                                      /* add cursor button style */                   
  background-image: url('../assets/images/Upgrade_add_cursor.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s;
}

.merge_cursors{                                                                   /* merge cursors button style */
  background-image: url('../assets/images/Upgrade_merge_cursors.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s;
}

.cursor_income{                                                                   /* cursor income button style */
  background-image: url('../assets/images/Upgrade_cursor_income.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s;
}

.cursor_speed{                                                                    /* cursor speed button style */       
  background-image: url('../assets/images/Upgrade_cursor_speed.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.3s;
}

.settings_button{                                                                 /* settings button style */      
  background-image: url('../assets/images/Settings.svg');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  transition: transform 0.3s;
}

.statistics_button{                                                               /* statistics button style */
  background-image: url('../assets/images/Stats.svg');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  transition: transform 0.3s;
}

.upgrade_element {                                                              /* upgrade element for the shop text style */
  position: relative;
}

.upgrade_text {                                                                 /* upgrade text style */
  position: absolute;
  top: 5.6vh;
  left: 25.5vw;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2vw;
  pointer-events: none;
  color: #fff;
  -webkit-text-stroke: 0.1vw rgb(16, 16, 95); 
}

.ui-dialog {                                                                   /* dialog style for the settings and statistics */       
  background-color: #fff;
  border: 3px solid #0d0a43;
  padding: 10px;
  width: 300px; 
  border-radius: 20px;
}

.ui-dialog-titlebar-close {                                                 /* dialog close button style */
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #666;
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
}

.ui-dialog-titlebar-close::before {                                         /* dialog close button style */
  content: '×';
  font-weight: bold;
}
